langchain==0.1.16
langchain-openai==0.1.3
langchain-community==0.0.34
langchain-text-splitters==0.0.2
pypdf
jupyter
faiss-cpu
tiktoken
numpy==1.26.4
pandas
matplotlib
tqdm
python-dotenv
sentence-transformers
unstructured
